// Styles
@mixin basicStyles($type: "") {
  $BS: getBaseSize($type);

  .test {
    background: lime;

    padding: $BS * 32;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      margin: 0;
    }

    &__img {
      width: $BS * 100;
      height: $BS * 100;
      background: $Yellow;
    }
  }
}

@include basicStyles();

@include breakpoint("MAX") {
  @include basicStyles("MAX");
}

@include breakpoint("L") {
  @include basicStyles("L");
}

@include breakpoint("M") {
  @include basicStyles("M");
}

@include breakpoint("S") {
  @include basicStyles("S");
}

@include breakpoint("XS") {
  @include basicStyles("XS");
}
