// Styles
// name mixin after scss component
@mixin component($type: "") {
  // get Basesize in correct relation to design width
  $BS: getBaseSize($type);

  .test {
    padding: $BS * 32;
    background: $BlueDark;
    color: $White;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      margin: 0;
    }

    &__img {
      width: $BS * 100;
      height: $BS * 100;
      background-color: $Yellow;
    }
  }
}

// Add component
@include component();

// Add auto styles with breakpoints
@include breakpoint("MAX") {
  @include component("MAX");
}

@include breakpoint("L") {
  @include component("L");
}

@include breakpoint("M") {
  @include component("M");
}

@include breakpoint("S") {
  @include component("S");
}

@include breakpoint("XS") {
  @include component("XS");
}

// Add custom styles with breakpoints
@include breakPointS() {
  $BS: getBaseSize("S");

  .test {
    padding: $BS * 16;
    background: $Blue;
  }
}
