// Styles
@mixin basicStyles($type: "") {
  $BS: getBaseSize($type);

  html {
    content: $BS;
    font-family: $FontFamilyMain;
    font-weight: 300;
    font-size: #{$BaseRemSize}px;
    line-height: 120%;
    color: $Black;
  }

  body {
    @include bsFontSize($BS, $BaseRemSize);
    line-height: 120%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 120%;
    font-weight: 700;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h1 {
    @include bsFontSize($BS, 62);
  }

  h2 {
    @include bsFontSize($BS, 44);
  }

  h3 {
    @include bsFontSize($BS, 36);
  }

  h4 {
    @include bsFontSize($BS, 26);
  }

  h5,
  h6 {
    @include bsFontSize($BS, 20);
  }

  input,
  button {
    font-family: $FontFamilyMain;
  }

  p {
    padding: 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  li {
    padding: 0;
    list-style: none;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-bottom: $BS $Black solid;
    }

    &:hover {
    }

    &:active {
    }
  }

  img,
  canvas {
    display: block;
  }

  .desktop_only {
    display: block;
  }

  .mobile_only {
    display: none;
  }
}

@include basicStyles();

@include breakpoint("MAX") {
  @include basicStyles("MAX");
}

@include breakpoint("L") {
  @include basicStyles("L");
}

@include breakpoint("M") {
  @include basicStyles("M");
}

@include breakpoint("S") {
  @include basicStyles("S");

  .mobile_only {
    display: block;
  }

  .desktop_only {
    display: none;
  }
}

@include breakpoint("XS") {
  @include basicStyles("XS");

  .mobile_only {
    display: block;
  }

  .desktop_only {
    display: none;
  }
}
